
table {
	float: right;
	clear: both;
}

th {
	vertical-align: top;
	font-size: 14pt;
	padding: 1rem 0.5rem 0.3rem 3rem;
	text-align: right;
}
table.vertical th {
	border-bottom: 1px solid black;
	background-color: gray;
}
table.vertical tr:nth-child(odd) {
	background-color: lightgray;
}
table.vertical td {
	max-width: 10em;
	word-wrap: break-word;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
tr {
	/*border: 1px solid blue;*/
}

table:not(.vertical) td {
	padding: 1rem 3rem 0.3rem 3rem;
	text-align: left;
	/*border: 1px solid red;*/
}

th+td {
	padding-top: 1rem;
}
